<!-- JQuery script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
    // Function to move the comment box when clicking reply
    $(document).ready(function() {
        var counter = 1;
        
    	// Function that creates another post comment box when replying
        $("#adduser").on("click", function(event){
            var newinput = $("#usermail").clone(true);
            newinput.insertBefore(this);
            newinput.attr('value', "");
        });
    });
</script>

{% extends 'base_loggedin.html' %}

    {% if form.errors %}
        <p>Error</p>
    {% endif %}

{% block content %}
<form action="../{{ action }}/" method="post">
    {% csrf_token %}
    {% include "form_snippet.html" %}
    
    <label id="userlabel" for="usermail">Enter email for team members:</label><br />
    <input id="usermail" class="teamfield" name="members" type="text" size=50 />
    <p><button class="button" type="button" id="adduser">+</button>
    <br />
    <p><input type="submit" value="{{ button }}" class="submit"/></p>
</form>
{% endblock %}
