{% extends 'base_loggedin.html' %}


{% block content %}
<h1>{{project.name}}</h1>
<p>{{project.description}}</p>

{% comment %}
{{ first_date.date }} | 
{{ last_date.date}} | 
{{ total_days }}
{% endcomment %}

<br/>

{% load ganttly_extras %}

<style>
.task {float: left; width: 200px; line-height: 20px;}
.block{float: left; background:red; height: 20px;}
.upcoming{background: #cecece;}
.overdue{background: #A62424;}
.running{background: #458C6B;}
.marker{float: left; width: 59px; height: 20px; border-left: 1px solid black;}
.clear{border-bottom: 1px solid black; margin: 5px 0px 5px 0px; height: 5px;clear:both;width:{{ first_date|countdays:last_date|multiply:20|add:200 }}px;}
</style>

<div class="task">&nbsp;</div>
{% for x in first_date|drawdays:last_date %}
<div class="marker">{{ x }}</div>
{% endfor %}
<div style="height: 10px; clear:both;"></div>

{% for task in task_list %}
    <div class="task">{{ task.name }}</div>
    <div 
        class="block
        {% if 1 %}
            upcoming
        {% endif %}
        "
        style="
            width:{{ task.start|countdays:task.finish|multiply:20 }}px;
            margin-left: {{ first_date|countdays:task.start|multiply:20 }}px
    ">
    </div>
    <div class="clear"></div>
{% endfor %}

{% endblock content %}