<!-- JQuery script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script>
    $(document).ready(function() {

    	// Display the reply button for javascript enabled users
    	$(".reply").css("display", "block");
    
    	// Function that creates another post comment box when replying
        $("#comments").on("click", ".reply", function(event){
            event.preventDefault();
            var form = $("#postcomment").clone(true);
            form.find('.parent').val($(this).parent().parent().attr('id'));
            $(this).parent().append(form);
        });
        
    });
</script>

{% extends 'base_loggedin.html' %}
{% block content %}

<!-- Project details -->
<h1>{{project.name}}</h1>
<p>{{project.description}}</p>
<br/>

<!-- Editing project menu for project administrators -->
{% if user == project.admin %}
<ul class="menu">
    <li><a href="add">Add new task</a></li>
    <li><a href="edit">Edit Project</a></li>
    <li><a href="delete">Delete Project</a></li>
</ul>
{% endif %}

<br/>

<!-- Drawing the gantt chart for the tasks -->
{% load ganttly_extras %}
<style>
    .clear {width:{{ first_date|countdays:last_date|add:2|multiply:40 }}px;}
</style>

<div style="float:left;">
    <div class="marker" style="border: none;">
        &nbsp;
    </div>
    <div style="height: 0px; clear:both;"></div>
{% for task in task_list %}
    <div class="task">
        <a href="{{ task.id }}">{{ task.name }}</a>&nbsp;&nbsp;
    </div>
    <div class="clear_left"></div>
{% endfor %}
</div>

<div class="gantt">
<div class="gantt_container" style="width: {{ first_date|countdays:last_date|add:2|multiply:40 }}px;">
    {% for x in first_date|drawdays:last_date %}
    <div class="marker">{{ x }}</div>
    {% endfor %}
    <div style="height: 0px; clear:both;"></div>

    {% for task in task_list %}
    {% comment %}
        <div class="task">
            <a href="{{ task.id }}">{{ task.name }}&nbsp;&nbsp;</a>
        </div>
    {% endcomment %}
        <a href="{{ task.id }}">
        <div 
            class="block
            {% if task.is_completed %}
                done
            {% elif task.finish|is_overdue %}
                overdue
            {% elif task.has_started %}
                running
            {% else %}
                upcoming
            {% endif %}
            "
            style="
                width:{{ task.start|countdays:task.finish|add:1|multiply:40 }}px;
                margin-left: {{ first_date|countdays:task.start|multiply:40 }}px
        ">
        </div>
        </a>
        <div class="clear"></div>
    {% endfor %}
</div>
<br/>
</div>

<!-- Project comments -->
<div class="projectcomments">
    <strong>Comments</strong>

    <!-- form for a new comment submit -->
    <form id="postcomment" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <!-- comments tree -->
    <ul id="comments">
    {% for c in comments %}
        <li id="{{ c.id }}" style="margin-left:{{ c.depth|add:c.depth }}em;">
            <b>{{ c.user }}</b><br/>
            <i>{{ c.posted }}</i><br/>
            <p>{{ c.comment }}</p>
            <p><a href="" class="reply">Reply</a></p>
        </li>
    {% empty %}
        <li>No comments...</li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
