{% extends "base_loggedin.html" %}

{% block title %}Create an account{% endblock %}

{% block body %}
<div id="header">
  {% load staticfiles %}
  <!-- <img src="{% static "ganttly.png" %}"/> -->
    <h1>Ganttly</h1>
    <a href="/ganttly/register/">Register</a>
</div>
<div id="content">
  <h1>Create an account</h1>

  <form class="register" action="" method="POST"> {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create the account">
    
</form>
</div>
{% endblock body %}