<!-- JQuery script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
    // Function to move the comment box when clicking reply
    $(document).ready(function() {
    	// Display the reply button for javascript enabled users
    	$(".reply").css("display", "block");
    
    	// Function that creates another post comment box when replying
        $("#comments").on("click", ".reply", function(event){
            event.preventDefault();
            var form = $("#postcomment").clone(true);
            form.find('.parent').val($(this).parent().parent().attr('id'));
            $(this).parent().append(form);
        });
    });
</script>


{% extends 'base_loggedin.html' %}
{% block content %}

<!-- Back button -->
<a href="../"><< Back to project</a>
<br/>

<!-- Task general information -->
<h1>{{ task.name }}</h1>
<p>
    {{ task.description }}
</p>

<!-- Menu for task management options -->
<ul class="menu">
    {% if task.is_completed %}
    <li>[Start]</li>
    <li>[Pause]</li>
    <li>[Finish]</li>
    {% elif task.has_started %}
    <li>[Start]</li>
    <li><a href="pause">[Pause]</a></li>
    <li><a href="finish">[Finish]</a></li>
    {% else %}
    <li><a href="start">[Start]</a></li>
    <li>[Pause]</li>
    <li>[Finish]</li>
    {% endif %}
    {% if user == project.admin %}
    <li><a href="edit">[Edit Task]</a></li>
    <li><a href="delete">[Delete Task]</a></li>
    {% endif %}
</ul>

<br/>

<!-- Task detailed information -->
<dl>
    <dt>Status:</dt>
    <dd>{% load ganttly_extras %}
        {% if task.is_completed %}
            Finished
        {% elif task.finish|is_overdue %}
            Overdue
        {% elif task.has_started %}
            Running
        {% else %}
            Upcoming
        {% endif %}
    </dd>
    <dt>Start:</dt><dd>{{ task.start }}</dd>
    <dt>Finish:</dt><dd>{{ task.finish }}</dd>
    <!-- <dt>Started?</dt><dd>{{ task.has_started }}</dd> -->
    <dt>Assigned to:</dt>
    <!-- shows list of users assigned to the task -->
        <dd>
            <ul>
                {% for user in task.assigned_to.all %}
                <li>
                    {{ user.first_name }} {{ user.last_name }}
                </li>
                {% endfor %}
            </ul>
        </dd>
</dl>

<div style="clear: both;"></div>

<br/><br/>

<!-- Columns where the comments take place -->
<div class="leftcolumn">
    <h2>Comments</h2>
    <br />
    <div style="float: left; width: 275px;">
        {% with form=forms.0 %}
            <form id="postcomment" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="submit"/>
            </form>
        {% endwith %}
    </div>

    <div style="float: left; width: 275px;">
        <!-- comments tree -->
        <ul id="comments">
        {% for c in comments %}
            <li id="{{ c.id }}" style="margin-left:{{ c.depth|add:c.depth }}em;">
                <b>{{ c.user }}</b><br/>
                <i>{{ c.posted }}</i><br/>
                <p>{{ c.comment }}</p>
                <p><a href="" class="reply">Reply</a></p>
            </li>
        {% empty %}
            <li>No comments...</li>
        {% endfor %}
        </ul>
    </div>
</div>

<!-- File upload column -->
<div class="rightcolumn">
    <h2>Files</h2>
    <br/>
    <div style="float: left; width: 275px;">
        {% with form=forms.1 %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "form_snippet.html" %}
            <input type="submit" value="{{ button }}" class="submit"/>
        </form>
        {% endwith %}
    </div>

    <div style="float: left; width: 275px;">
        <ul class="files">
        {% for f in files %}
            <li>
                <b>{{ f.user.first_name }} {{ f.user.last_name }}</b><br/>
                <i>{{ f.added }}</i><br/>
                <p>
                    {{ f.description }}
                </p>
                <a href="{{ f.id }}">Download</a>
                <br/>
            </li>
        {% empty %}
            <li>No files</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
