{% extends 'base_loggedin.html' %}

{% block content %}
<h1>{{ task.name }}</h1>
<p>
    {{ task.description }}
</p>
<ul class="menu">
    {% if task.is_completed %}
    <li>[Start]</li>
    <li>[Pause]</li>
    <li>[Finish]</li>
    {% elif task.has_started %}
    <li>[Start]</li>
    <li><a href="pause">[Pause]</a></li>
    <li><a href="finish">[Finish]</a></li>
    {% else %}
    <li><a href="start">[Start]</a></li>
    <li>[Pause]</li>
    <li>[Finish]</li>
    {% endif %}
    {% if user == project.admin %}
    <li><a href="edit">[Edit Task]</a></li>
    <li><a href="delete">[Delete Task]</a></li>
    {% endif %}
</ul>

<a href="../"><< Back to project</a>
<br/>
<br/>

<div style="float: left;">
<dl>
    <dt>Status:</dt>
    <dd>{% load ganttly_extras %}
        {% if task.is_completed %}
            Finished
        {% elif task.finish|is_overdue %}
            Overdue
        {% elif task.has_started %}
            Running
        {% else %}
            Upcoming
        {% endif %}
    </dd>
    <dt>Start:</dt><dd>{{ task.start }}</dd>
    <dt>Finish:</dt><dd>{{ task.finish }}</dd>
    <!-- <dt>Started?</dt><dd>{{ task.has_started }}</dd> -->
    <dt>Assigned to:</dt>
        <dd>
            <ul>
                {% for user in task.assigned_to.all %}
                <li>
                    {{ user.first_name }} {{ user.last_name }}
                </li>
                {% endfor %}
            </ul>
        </dd>
</dl>
</div>
<div style="float: left; padding-left: 50px;">
<dl>
    <dt>Comments</dt>
        <dd>
            <form action="../{{ action }}/" method="post">
                {% csrf_token %}
                {% include "form_snippet.html" %}
                <p><input type="submit" value="{{ button }}" /></p>
            </form>
            <br/>
            <ul class="comments">
                {% for comment in comments %}
                <li>
                    <b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b><br/>
                    <i>{{ comment.posted }}</i><br/>
                    <p>
                        {{ comment.comment }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </dd>
</dl>
</div>
<div style="float: left; padding-left: 50px;">
    <dt>Files</dt>
        <dd>
            <a href="#">Upload file</a>
            <br/><br/>
            <ul class="files">
                <li>
                    <b>First Lastname</b><br/>
                    <i>March 1, 2013 - 3:30px</i><br/>
                    <p>
                        This is a file
                    </p>
                    <a href="#">Download</a>
                </li>
                <li>
                    <b>First Lastname</b><br/>
                    <i>March 1, 2013 - 3:30px</i><br/>
                    <p>
                        This is a file
                    </p>
                    <a href="#">Download</a>
                </li>
                <li>
                    <b>First Lastname</b><br/>
                    <i>March 1, 2013 - 3:30px</i><br/>
                    <p>
                        This is a file
                    </p>
                    <a href="#">Download</a>
                </li>
                <li>
                    <b>First Lastname</b><br/>
                    <i>March 1, 2013 - 3:30px</i><br/>
                    <p>
                        This is a file
                    </p>
                    <a href="#">Download</a>
                </li>
                <li>
                    <b>First Lastname</b><br/>
                    <i>March 1, 2013 - 3:30px</i><br/>
                    <p>
                        This is a file
                    </p>
                    <a href="#">Download</a>
                </li>
            </ul>
        </dd>

</div>
{% endblock content %}