/*

Green	458C6B
Tan     F2D8A7
Brown   D9A86C
Orange  D94436
Red     A62424


incosequential change
*/

* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: #2b2e36;
	text-shadow: 0px 1px 0px #cecece;
	line-height: 1.5;
}

body {
	width: 100%;
}

h1 {
	font-size: 36px;
	font-weight: normal;
	color: #2b2e36;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	color: #2b2e36;
}

.project_list li:hover {
/*	background: #eeeeee;*/
}

#header {
	width: 100%;
	height: 80px;
	/*background: #2b2e36;*/
	background: #458C6B;
	color: white;
}

#header a {
	color: white;
	line-height: 130px;
	margin-left: 20px;
	font-size: 1em;
}

#header a:hover {
	text-decoration: underline;
}

#header h1 {
	font-family: tahoma;
	line-height: 100px;
	font-size: 6rem;
	font-weight: bold;
	color: white;
	text-shadow:  0px -5px 1px #458C6B,
	              0px  5px 1px #458C6B,
	              5px  0px 1px #458C6B,
	             -5px  0px 1px #458C6B,
	              5px -5px 3px #458C6B,
	             -5px -5px 3px #458C6B,
	             -5px  5px 3px #458C6B,
	              5px  5px 3px #458C6B;
    float: left;
}

#content {
	padding: 25px 25px 0px 25px;
}

.project_list li {
	list-style: none;
	padding: 5px;
	width: 300px;
	border-bottom: 1px solid #b1b88c;
}

.project_list .title {
	font-size: 24px;
	color: #54877e;
	font-weight: bold;
}

.task, .block {
	float: left; 
	margin: 5px 0px 5px 0px;
}

.task {
	width: 200px; 
	line-height: 1.5;
	background: white;
	text-align: right;
}

a {
	color: #458C6B;
}
a:hover {
	text-decoration: underline;
}

.block {
	background:red; 
	height: 24px;
}

.upcoming {
	background: #aaa;
}

.upcoming:hover {
	box-shadow: 0px 0px 0px 2px #eeeeee;
}

.overdue {
	background: #A62424;
}

.overdue:hover {
	box-shadow: 0px 0px 0px 2px #e66464;
}

.running {
	background: #458C6B;
}

.running:hover {
	box-shadow: 0px 0px 0px 2px #75bC9B;
}

.done {
	background: black;
}

.done:hover {
	box-shadow: 0px 0px 0px 2px #404040;
}

.marker{
	float: left; 
	width: 39px; 
	height: 20px; 
	border-left: 1px solid #eee;
	/*border-right: 1px solid #eee;*/
	text-align: center;
	color: #ccc;
}

.clear, .clear_left {
	background: white;
	border-bottom: 1px solid #eee;
	margin: 0px 0px 0px 0px; 
	height: 0px;
}

.clear{
	clear:both;
}

.clear_left {
	clear: left;
}

.gantt {
	overflow-x: scroll;
	width: 800px;
	float: left;
}

.gantt_container {
	background: url('../../static/gantt_bg.png');
	background-position: 200px 0px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-button { 
	
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #458C6B;
}

.gantt::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}
 
.gantt::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

dt {
	clear: left;
	float: left;
	width: 100px;
	margin-right: 15px;
	text-align: right;
	font-weight: bold;
}

dd {
	float: left;

}

li {
	list-style: none;
}

.comments li, .files li {
	margin-bottom: 15px;
}

.comments .comments {
	margin: 15px 0px 0px 25px;
}

.menu li {
	display: inline;
	border-right: 1px solid #ccc;
	padding: 0px 5px 0px 5px;
}